.errorMsg{
    color: red;
  }
  
  .active{
    background-color: #4e73df;
    color: white;
    
  }
  #tbody tr{
    cursor: pointer;
  }

  .scroll{
    height:500PX;
    overflow-y:scroll;

  }

  .btn-black {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}