.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  /* Style the buttons inside the tab */
  .tab > #tabs > button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab > #tabs > button:hover {
    background-color: #2c54cd;
    color: white;
  }
  
  /* Create an active/current tablink class */
  .tab > #tabs > button.active {
    background-color: #4e73df;
    color: white;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .table-bordered td, .table-bordered th {
    border-color: #4e73df;
  }

  .table-bordered {
    border: none;
  }

  #dataTable tr td:first-child {
    border-left: 1px solid #4e73df;
  }

  #dataTable thead tr th:first-child {
    border-top-left-radius: 20px;
  }

  #dataTable thead tr th:last-child {
    border-top-right-radius: 20px;
  }

  #dataTable tfoot tr th:first-child {
    border-bottom-left-radius: 20px;
  }

  #dataTable tfoot tr th:last-child {
    border-bottom-right-radius: 20px;
  }

  #dataTable thead th {
    border: none;
    background-color: #4e73df;
    color: white;
    text-align: center;
  }

  #dataTable tfoot th {
    border: none;
    background-color: #4e73df;
    color: white;
    text-align: center;
  }
  label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

#dataTable_filter{
 float:right;
}
#table{
  padding: 0% !important;
}
